/Module2 work with EFC/EFc/.idea/
/Module2 work with EFC/EFc/bin/Debug/
/Module2 work with EFC/EFc/obj/
/Module2 work with EFC/EFc/Migrations/
/Module2 work with EFC/EFc/bin/Debug/
/Module2 work with EFC/onlineshop/.idea
/Module2 work with EFC/onlineshop/onlineshop/bin/Debug/
/Module2 work with EFC/onlineshop/onlineshop/obj/


Module3 work with ASP/ASP/.idea/
Module3 work with ASP/ASP/.idea/.idea.ASP/.idea/encodings.xml
Module3 work with ASP/ASP/.idea/.idea.ASP/.idea/indexLayout.xml
Module3 work with ASP/ASP/.idea/.idea.ASP/.idea/vcs.xml
Module3 work with ASP/ASP/.idea/.idea.ASP/.idea/copilot/chatSessions/00000000000.xd
Module3 work with ASP/ASP/.idea/.idea.ASP/.idea/copilot/chatSessions/xd.lck
Module3 work with ASP/ASP/.idea/.idea.ASP/.idea/copilot/chatSessions/blobs/version
Module3 work with ASP/ASP/obj/
Module3 work with ASP/ASP/obj/ASP.csproj.nuget.g.props
Module3 work with ASP/ASP/obj/ASP.csproj.nuget.g.targets
Module3 work with ASP/ASP/obj/project.assets.json
Module3 work with ASP/ASP/obj/project.nuget.cache
Module3 work with ASP/ASP/obj/project.packagespec.json
Module3 work with ASP/ASP/obj/rider.project.model.nuget.info
Module3 work with ASP/ASP/obj/rider.project.restore.info
Module3 work with ASP/ASP/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Module3 work with ASP/ASP/obj/Debug/net7.0/ASP.AssemblyInfo.cs
Module3 work with ASP/ASP/obj/Debug/net7.0/ASP.AssemblyInfoInputs.cache
Module3 work with ASP/ASP/obj/Debug/net7.0/ASP.assets.cache
Module3 work with ASP/ASP/obj/Debug/net7.0/ASP.GeneratedMSBuildEditorConfig.editorconfig
Module3 work with ASP/ASP/obj/Debug/net7.0/ASP.GlobalUsings.g.cs
Module3 work with ASP/ASP/Properties/
